nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"

params.reads = "" //* @input @label:"Reads" @file
params.mate = "" //* @dropdown @label:"Mate" @options:"single","pair" @description:"Single-End or Paired-End Data for reads. "
params.genome_build = "" //* @dropdown @label:"Genome Build" @options:"human_hg38_ensembl_v110, human_hg38_gencode_v34, custom"
params.run_BWA = "yes" //* @dropdown @label:"Run BWA" @options:"yes","no" @show_settings:"bwa_align,Check_Build_BWA"
params.groups_file = "" //* @input @label:"Group File" @single_file @editor:{"default":[["sample_name","group"]], "collection_autofill":{"input_name":"reads", "column":"1"}, "type":"spreadsheet","filename":"metadata.tsv","separator":"tab"} @description:"You can enter CSV/TSV file. Please check Pipeline Description for details.</br><b>sample_name</b> and <b>group</b> columns are required for this file."
params.compare_file = "" //* @input @label:"Compare File" @single_file @editor:{"default":[["controls","treats","names"]], "type":"spreadsheet","filename":"comparisons.tsv","separator":"tab"}  @description:"You can enter CSV/TSV file. Please check Pipeline Description for details.</br><b>controls</b>, <b>treatments</b>, <b>names</b> and columns are required for this file."

includeConfig 'conf/base.config'