
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_species = ""
_build = ""
_share = ""
_share_variant = ""
_annotation = ""  
_chr = ""
//* autofill
if (params.genome_build == "human_hg38_ensembl_v110"){
    _species = "human"
    _build = "hg38"
    _annotation = "ensembl_v110"
    _subdir = "/ensembl_v110/"
    _assembly = "Homo_sapiens_assembly38"
    _chr = "_noChr"
} else if (params.genome_build == "human_hg38_gencode_v34"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v34"
    _subdir="/"
    _assembly = "Homo_sapiens_assembly38"
    _chr=""
} else if (params.genome_build == "custom"){
    params.genome       = "NA"
    params.known_snps = "NA"
    params.known_snps_index = "NA" 
    params.known_indels = "NA"
    params.known_indels_index = 'NA'
} 

if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/genome_data"
    _share_variant = "${params.DOWNDIR}/genome_data_other/somatic_variant_calling"
    $SINGULARITY_IMAGE = "quay.io/viascientific/variant_calling:1.0"
    $DOCKER_IMAGE = "quay.io/viascientific/variant_calling:1.0"
}
//* platform
//* platform
if (params.genome_build && $HOSTNAME){
    params.genome       = "${_share}/${_species}/${_build}${_subdir}main/genome.fa"
    params.bwa_index    = "${_share}/${_species}/${_build}${_subdir}BWAIndex"
    params.annotation   = "${_share}/${_species}/${_build}/${_annotation}/genes/original.sorted.gtf.gz"
    params.annotation_index   = "${_share}/${_species}/${_build}/${_annotation}/genes/original.sorted.gtf.gz.tbi"
    params.known_snps = "${_share_variant}/${_assembly}.dbsnp138${_chr}.vcf.gz"
    params.known_snps_index = "${_share_variant}/${_assembly}.dbsnp138${_chr}.vcf.gz.tbi" 
    params.known_indels = "${_share_variant}/${_assembly}.known_indels${_chr}.vcf.gz"
    params.known_indels_index = '${_share_variant}/${_assembly}.known_indels${_chr}.vcf.gz.tbi'

}
if ($HOSTNAME){
    params.dataDir = ""
}
//* autofill
