
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_species = ""
_build = ""
_share = ""
_annotation = ""  
//* autofill

if (params.genome_build == "human_hg38_ensembl_v110"){
    _species = "human"
    _build = "hg38"
    _annotation = "ensembl_v110"
    _subdir = "/ensembl_v110/"
    params.known_snps = "https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
    params.known_snps_index = "https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi" 
    params.known_indels = "https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz"
    params.known_indels_index = 'https://storage.googleapis.com/gcp-public-data--broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi'
} else if (params.genome_build == "mouse_mm10_ensembl_v110"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "ensembl_v110"
    _subdir="/ensembl_v110/"
    params.known_snps = "NA"
    params.known_snps_index = "NA" 
    params.known_indels = "NA"
    params.known_indels_index = 'NA'
} else if (params.genome_build == "custom"){
    params.genome       = "NA"
    params.known_snps = "NA"
    params.known_snps_index = "NA" 
    params.known_indels = "NA"
    params.known_indels_index = 'NA'
} 

if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/genome_data"
    $SINGULARITY_IMAGE = "quay.io/ummsbiocore/variant_calling:1.0"
    $DOCKER_IMAGE = "quay.io/ummsbiocore/variant_calling:1.0"
    $DEFAULT_IMAGE = "docker"
}
//* platform
//* platform
if (params.genome_build && $HOSTNAME){
    params.genome_source   = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data/${_species}/${_build}/main/genome.fa"
    params.gtf_source      = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.genome       = "${_share}/${_species}/${_build}${_subdir}main/genome.fa"
    params.bwa_index    = "${_share}/${_species}/${_build}/BWAIndex"
    params.annotation   = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf"
}
if ($HOSTNAME){
    params.dataDir = ""
}
//* autofill
